pkgbase = xterm
	pkgdesc = X Terminal Emulator
	pkgver = 407
	pkgrel = 1
	url = https://invisible-island.net/xterm/
	arch = x86_64
	license = custom
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = libice
	depends = libutempter
	depends = libx11
	depends = libxaw
	depends = libxext
	depends = libxft
	depends = libxkbfile
	depends = libxmu
	depends = libxpm
	depends = libxt
	depends = luit
	depends = ncurses
	depends = xbitmaps
	source = https://invisible-mirror.net/archives/xterm/xterm-407.tgz
	source = https://invisible-mirror.net/archives/xterm/xterm-407.tgz.asc
	source = border.patch
	validpgpkeys = 19882D92DDA4C400C22C0D56CC2AF4472167BE03
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = xterm
