[Unit]
Description=Teredo IPv6 tunneling
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStartPre=/usr/bin/miredo-checkconf -f /etc/miredo/miredo.conf
ExecStart=/usr/bin/sleep 3 
ExecStart=/usr/bin/miredo -f
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
