pkgbase = virtualbox-host-modules-zen
	pkgdesc = Virtualbox host kernel modules for Arch Kernel
	pkgver = 7.2.4
	pkgrel = 4
	url = https://virtualbox.org/
	arch = x86_64
	license = GPL
	makedepends = linux-zen-headers
	makedepends = virtualbox-host-dkms=7.2.4
	provides = VIRTUALBOX-HOST-MODULES
	conflicts = virtualbox-modules
	conflicts = virtualbox-host-modules
	conflicts = virtualbox-host-dkms
	replaces = virtualbox-modules
	replaces = virtualbox-host-modules

pkgname = virtualbox-host-modules-zen
	depends = linux-zen
