pkgbase = perf
	pkgdesc = Linux kernel performance auditing tool
	pkgver = 6.3
	pkgrel = 1
	url = https://www.kernel.org
	arch = x86_64
	groups = modified
	license = GPL2
	makedepends = git
	makedepends = asciidoc
	makedepends = xmlto
	makedepends = flex
	makedepends = bison
	makedepends = llvm
	makedepends = python-setuptools
	makedepends = perl
	makedepends = python
	makedepends = slang
	makedepends = elfutils
	makedepends = libunwind
	makedepends = numactl
	makedepends = audit
	makedepends = zstd
	makedepends = libcap
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E

pkgname = perf
	pkgdesc = Linux kernel performance auditing tool
	depends = glibc
	depends = perl
	depends = python
	depends = slang
	depends = elfutils
	depends = libunwind
	depends = binutils
	depends = numactl
	depends = audit
	depends = coreutils
	depends = glib2
	depends = xz
	depends = zlib
	depends = libelf
	depends = bash
	depends = zstd
	depends = libcap
