pkgbase = slim
	pkgdesc = Simple Login Manager resurrected
	pkgver = 1.4.0
	pkgrel = 2
	url = https://slim-fork.sourceforge.io/
	arch = x86_64
	license = GPL2
	makedepends = cmake
	depends = gcc-libs
	depends = libjpeg
	depends = libpng
	depends = libx11
	depends = libxext
	depends = libxft
	depends = libxmu
	depends = libxrandr
	depends = pam
	depends = ttf-font
	depends = xorg-xauth
	backup = etc/logrotate.d/slim
	backup = etc/pam.d/slim
	backup = etc/slim.conf
	backup = etc/slimlock.conf
	source = https://downloads.sourceforge.net/project/slim-fork/slim-1.4.0.tar.gz
	source = slim.pam
	source = slimlock.pam
	source = slim.logrotate
	source = default-path.patch
	source = no-sessreg.patch
	source = service.patch
	source = 99-drm.rules
	source = slimlock.patch
	sha256sums = 350b31d5070002e9729ea63e1d62f97596ba0062151c0f3ee16f02af67753204
	sha256sums = b9a77a614c451287b574c33d41e28b5b149c6d2464bdb3a5274799842bca51a4
	sha256sums = dfe35488b50f19fd96526374edc16850ed37dac919834dd579392b1a7518f2ab
	sha256sums = 5bf44748b5003f2332d8b268060c400120b9100d033fa9d35468670d827f6def
	sha256sums = 408337b006760b8029b1aeec37b103b1d02a23a85328cf9e2ac9c1a89faab279
	sha256sums = 56d41eccbcdd68aca03b678d7e78089f4ec111a997f3fe3a8b7a9d815d84ea6b
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = slim
