pkgbase = telegram-desktop-patched
	pkgdesc = Official Telegram Desktop client
	pkgver = 6.8.1
	pkgrel = 1
	url = https://desktop.telegram.org/
	install = telegram-desktop.install
	arch = x86_64
	license = GPL-3.0-or-later WITH OpenSSL-exception
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = libtg_owt
	makedepends = microsoft-gsl
	makedepends = ninja
	makedepends = python
	makedepends = range-v3
	makedepends = tl-expected
	makedepends = autoconf
	makedepends = vulkan-headers
	depends = abseil-cpp
	depends = ada
	depends = ffmpeg
	depends = glib2
	depends = hicolor-icon-theme
	depends = hunspell
	depends = kcoreaddons
	depends = libavif
	depends = libdispatch
	depends = libheif
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = libxtst
	depends = lz4
	depends = minizip
	depends = openal
	depends = openh264
	depends = openssl
	depends = pipewire
	depends = protobuf
	depends = qt6-imageformats
	depends = qt6-svg
	depends = qt6-wayland
	depends = rnnoise
	depends = xxhash
	depends = libjxl
	optdepends = geoclue: geoinformation support
	optdepends = geocode-glib-2: geocoding support
	optdepends = webkit2gtk-4.1: embedded browser features provided by webkit2gtk-4.1
	optdepends = webkitgtk-6.0: embedded browser features provided by webkitgtk-6.0 (Wayland only)
	optdepends = xdg-desktop-portal: desktop integration
	source = https://github.com/telegramdesktop/tdesktop/releases/download/v6.8.1/tdesktop-6.8.1-full.tar.gz
	source = git+https://github.com/tdlib/td.git#tag=51743dfd01dff6179e2d8f7095729caa4e2222e9
	source = 0001-Disable-sponsored-messages.patch
	source = 0002-Disable-saving-restrictions.patch
	source = 0003-Disable-invite-peeking-restrictions.patch
	source = 0004-Disable-accounts-limit.patch
	source = 0005-Option-to-disable-stories.patch
	source = tdesktop-fix-minizip-includes.patch
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = telegram-desktop-patched
