pkgbase = gram
	pkgdesc = A code editor for humanoid apes and grumpy toads
	pkgver = 2.0.0
	pkgrel = 2
	url = https://gram-editor.com
	arch = x86_64
	license = GPL-3.0-or-later
	license = AGPL-3.0-or-later
	license = Apache-2.0
	makedepends = cargo
	makedepends = cargo-about
	makedepends = clang
	makedepends = cmake
	makedepends = protobuf
	makedepends = vulkan-headers
	makedepends = vulkan-validation-layers
	depends = fontconfig
	depends = glibc
	depends = libgcc
	depends = libgcc_s.so
	depends = libgit2
	depends = libgit2.so
	depends = libssh2
	depends = libssh2.so
	depends = libstdc++
	depends = libstdc++.so
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = netcat
	depends = nodejs>=18
	depends = npm
	depends = openssl
	depends = libcrypto.so
	depends = libssl.so
	depends = sqlite
	depends = libsqlite3.so
	depends = vulkan-driver
	depends = vulkan-icd-loader
	depends = vulkan-tools
	depends = wayland
	depends = zlib
	depends = libz.so
	depends = zstd
	depends = libzstd.so
	replaces = gram-bin
	replaces = gram-editor-bin
	source = gram-2.0.0.tar.gz::https://codeberg.org/GramEditor/gram/archive/2.0.0.tar.gz
	sha256sums = 091e2788a31261e76c01c272bdb9b4f53a3106a4c9e16dfa1318fb916e50e5bf

pkgname = gram
